<footer id="contacts" class="footer">
  <div class="container footer-box">
    <a href="#" class="footer__logo">Interio</a>
    <div class="footer__content">
      <div class="footer-content__part">
        <h3 class="footer__title">HOME PAGE</h3>
        <ul class="footer-content__list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#about">About us</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#services">Services</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#portfolio">Portfolio</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="#team">Team</a>
          </li>
        </ul>
      </div>

      <div class="footer-content__part">
        <h3 class="footer__title">CONTACTS</h3>
        <ul class="footer-content__list">
          <li class="footer-contact__item">
            <a href="tel:+380505766767" class="address__link">+38 050 576 67 67</a>
          </li>
          <li class="footer-contact__item">
            <a href="mailto:interio@studio.com" class="address__link">Interio@studio.com</a>
          </li>
        </ul>
      </div>

      <div class="footer-content__part">
        <h3 class="footer__title">FOLLOW US</h3>
        <ul class="footer-content__list socnav__list">
          <li class="footer-socnav__item">
            <a
              href="https://www.instagram.com/?hl=uk"
              class="contacts-socnav__link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="fcontacts-socnav__icon">
                <use href="./assets/images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socnav__item">
            <a
              href="https://www.tiktok.com/uk-UA/"
              class="contacts-socnav__link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="fcontacts-socnav__icon">
                <use href="./assets/images/sprite.svg#tiktok"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socnav__item">
            <a
              href="https://web.telegram.org/k/"
              class="contacts-socnav__link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="fcontacts-socnav__icon">
                <use href="./assets/images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="logo-footer__box">
    <svg class="logo-footer__icon">
      <use href="./assets/images/sprite.svg#logo-footer"></use>
    </svg>
  </div>
</footer>
