<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="btn-close" type="button" data-modal-close aria-label="zamknij menu"></button>
    <div class="modal-content">
      <form class="contact-form" action="#">
        <h2 class="form__title">Lorem ipsum</h2>
        <div class="form__wrapper">
          <div class="contact-form-field">
            <label class="matter-textfield-outlined">
              <input
                class="contact-form-input"
                id="name"
                type="text"
                name="name"
                placeholder=" "
                required
              />
              <span>email</span>
            </label>
          </div>

          <div class="contact-form-field">
            <label class="matter-textfield-outlined">
              <input
                class="contact-form-input"
                id="phone"
                type="tel"
                name="phone"
                placeholder=" "
                required
              />
              <span>phone</span>
            </label>
          </div>

          <div class="contact-form-field">
            <label class="matter-textfield-outlined">
              <input
                class="contact-form-input"
                id="email"
                type="email"
                name="email"
                placeholder=" "
                required
              />
              <span>Email *</span>
            </label>
          </div>
        </div>

        <button class="contact-form-btn" type="submit">Lorem ipsum</button>

        <label for="privacy" class="checkbox-label">
          <input
            class="checkbox"
            id="privacy"
            name="privacy"
            type="checkbox"
            value="privacy"
            checked
            required
          />
          <span class="checkmark"></span>
          <span class="text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, dolorem.</span
          >
        </label>
      </form>
    </div>
  </div>
</div>
