.section {
  padding-top: 56px;
  padding-bottom: 56px;

  @include mq(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include mq(desktop) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
