.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
  width: 71px;

  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid var(--black-txt-cl);
  border-radius: 50%;

  background: none;

  /* transition: color var(--fast) linear, background-color var(--fast) linear,
    border var(--fast) linear;

  &:hover,
  &:focus {
    color: var(--accent-cl);
    border: 1px solid var(--accent-cl);
    background-color: var(--white-bg);
  } */

  @include mq(tablet) {
    height: 100px;
    width: 100px;
  }
  @include mq(desktop) {
    height: 123px;
    width: 123px;
  }
}
