.form {
  @include mq(tablet) {
    display: flex;
    align-items: center;
    gap: 66px;
  }
  @include mq(desktop) {
    gap: 230px;
  }

  &__menu {
    max-width: 335px;
    @include mq(desktop) {
      max-width: 400px;
    }
  }

  &__line {
    position: relative;
    min-width: 280px;
    text-align: center;
    margin-bottom: 40px;
    @include mq(tablet) {
      margin-bottom: 60px;
    }
  }

  &__input {
    width: 100%;
    padding: 8px 0;
    color: var(--secondary-black-txt-cl);
    border: none;
    border-bottom: 1px solid rgba(65, 65, 65, 0.4);
    outline: none;
    background: transparent;
  }

  &__input:focus ~ label,
  &__input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgba(65, 65, 65, 0.8);
    font-size: 12px;
  }

  &__input:valid ~ label {
    color: rgba(7, 118, 7, 0.8);
  }

  // &__input:invalid ~ label {
  //   color: rgb(173, 52, 52);
  // }

  &__label {
    position: absolute;
    top: 5px;
    left: 0;
    color: var(--secondary-black-txt-cl);
    pointer-events: none;
    transition: var(--slow);
    background-color: white;
  }

  &__button {
    display: inline-flex;
    gap: 20px;
    line-height: calc(26 / 16);
    @include mq(tablet) {
      gap: 54px;
      font-size: 18px;
      line-height: calc(26 / 18);
    }
    @include mq(desktop) {
      gap: 43px;
      font-size: 24px;
      line-height: calc(32 / 24);
    }
  }
}
