.form {
  @include mq(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include mq(desktop) {
    gap: 210px;
    justify-content: flex-start;
  }

  &__line {
    position: relative;
    min-width: 280px;
    margin-bottom: 40px;

    @include mq(tablet) {
      margin-bottom: 60px;
      min-width: 400px;
    }
    @include mq(desktop) {
      min-width: 400px;
    }
  }

  &__line:last-child {
    @include mq(tablet) {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
    padding: 4px 0;
    color: var(--secondary-black-txt-cl);
    border: none;
    border-bottom: 1px solid var(--line-form-color);
    outline: none;
    background: transparent;
    font-size: 18px;
    line-height: calc(30 / 18);
    @include mq(tablet) {
      padding: 8px 0;
    }
  }

  &__input:focus ~ .form__label,
  &__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    left: 0;
    color: var(--line-color);
    font-size: 14px;
    @include mq(tablet) {
      font-size: 16px;
    }
  }

  &__input:focus {
    border-bottom: 1px solid var(--line-form-color);
  }

  &__input:not(:focus):invalid {
    border-bottom: 1px solid var(--line-form-color);
  }

  &__input:not(:focus):invalid ~ label {
    color: var(--line-color);
  }

  &__label {
    position: absolute;
    top: 5px;
    left: 0;
    color: var(--secondary-black-txt-cl);
    pointer-events: none;
    transition: top var(--transition-timing-function) var(--animation-speed),
      color var(--transition-timing-function) var(--animation-speed),
      font-size var(--transition-timing-function) var(--animation-speed);
    background: transparent;
    @include mq(tablet) {
      top: 9px;
      font-size: 18px;
    }
  }

  &__box {
    text-align: center;
  }

  &__button {
    padding-left: 11px;
    border: 1px solid transparent;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    line-height: calc(26 / 16);
    transition: border var(--transition-timing-function) var(--animation-speed);
    @include mq(tablet) {
      padding-left: 12px;
      gap: 32px;
      font-size: 18px;
      line-height: calc(26 / 18);
    }
    @include mq(desktop) {
      padding-left: 20px;
      gap: 43px;
      font-size: 24px;
      line-height: calc(32 / 24);
    }
    &:hover {
      border: 1px solid var(--secondary-black-txt-cl);
      border-radius: 100px;
      .form__icon {
        border: 1px solid transparent;
      }
    }
  }
  &__icon {
    width: 56px;
    height: 56px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid var(--secondary-black-txt-cl);
    border-radius: 50%;
    transition: border var(--transition-timing-function) var(--animation-speed);
    @include mq(tablet) {
      width: 76px;
      height: 76px;
      padding-left: 16px;
      padding-right: 16px;
    }
    @include mq(desktop) {
      width: 123px;
      height: 123px;
      padding-left: 27px;
      padding-right: 27px;
    }
  }
  &__error {
    @media (max-width: 374.98px) {
      font-size: 10px;
    }
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    left: 0;
    color: #d41919;
    visibility: hidden;
    @include mq(tablet) {
      font-size: 14px;
      bottom: -28px;
    }
  }
}

.form__input.error__input {
  border-bottom: 1px solid #d41919;
}

.form__input.success__input {
  border-bottom: 1px solid var(--line-form-color);
}

.form__input.error__input ~ .form__error {
  visibility: visible;
}
