.hero {
  background: var(--primary-bg);
}

.hero__wrapper {
  text-align: center;
  @include mq(desktop) {
    text-align: left;
  }
}

.hero__container {
  @include mq(desktop) {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.hero__box {
  border: 1px solid var(--primary-border-color);
  border-radius: 12px;
  background-color: white;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 25px;
  @include mq(tablet) {
    width: 519px;
    margin-left: 0;
  }
  @include mq(desktop) {
    margin: 0;
    margin-bottom: 16px;
  }
}

.hero__descr {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--secondary-txt-cl);
  text-align: center;
  max-width: 294px;
  margin: 0 auto;
  @include mq(tablet) {
    font-size: 18px;
    max-width: 400px;
  }
  @include mq(desktop) {
    font-size: 20px;
    max-width: 455px;
    text-align: left;
  }
}

.hero__descr-accent {
  color: var(--blue-bg);
  font-weight: 700;
}

.hero__title {
  margin-bottom: 25px;
  @include mq(tablet) {
    width: 628px;
    text-align: left;
    margin-bottom: 12px;
    font-size: 48px;
  }
  @include mq(desktop) {
    margin-bottom: 40px;
  }
}

.hero__title--accent {
  text-transform: uppercase;
  color: var(--blue-bg);
  @include mq(desktop) {
    letter-spacing: -0.05em;
  }
}

.hero__text {
  font-size: 28px;
  line-height: 1.2em;
  font-weight: 700;
  color: var(--secondary-txt-cl);
  margin: 0 auto;
  @include mq(tablet) {
    font-size: 38px;
  }
  @include mq(desktop) {
    font-size: 48px;
  }
}

.hero__info {
  font-size: 20px;
  line-height: 1.5em;
  color: var(--secondary-txt-cl);
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 80px;
  @include mq(desktop) {
    text-align: left;
    max-width: 500px;
    margin-left: 0;
  }
}

.hero__info-accent {
  font-weight: 700;
  color: var(--blue-bg);
}

.hero__btn {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-txt-cl);
  margin: 0 auto;
  background-color: var(--white-bg);
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  margin-bottom: 35px;

  @include mq(tablet) {
    margin: 0;
  }
  @include mq(tablet) {
    display: none;
  }
}

.hero__btn-accent {
  color: var(--blue-bg);
  font-weight: 700;
}

.hero__btn-box {
  text-align: left;
  margin-left: 14px;
}

.hero__btn-regisrt {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: var(--white-bg);
  padding: 18px 36px;
  background: var(--secondary-btn-bg);
  border-radius: 8px;

  &:hover,
  &:focus {
    color: var(--secondary-btn-bg);
    border: 1px solid var(--secondary-btn-bg);
    background-color: var(--white-bg);
  }
}

.hero__btn-wrap {
  // @include mq(tablet) {
  //   display: flex;
  //   justify-content: space-around;
  //   width: 540px;
  //   margin: 0 auto;
  // }
  @include mq(desktop) {
    display: block;
    margin: 0;
  }
}

.hero__tablet-wrap {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: 45%;
    text-align: left;
  }
  @include mq(desktop) {
    display: block;
  }
}

.hero__thumb {
  background: linear-gradient(to top, var(--primary-border-color) 90%, var(--white-bg) 10%);
  border-radius: 25px;
  width: 339px;
  height: 289px;
  position: relative;
  display: none;
  @include mq(tablet) {
    display: block;
  }
  @include mq(desktop) {
    width: 600px;
    height: 539px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.hero__img {
  position: absolute;
  // right: 105px;
  right: 56px;
  bottom: 0;
  @include mq(desktop) {
    right: 75px;
  }
}

.hero__elipse {
  position: absolute;
  bottom: 15px;
  right: 32px;
  @include mq(desktop) {
    bottom: 27px;
    right: 30px;
  }
}

.hero__list {
  position: absolute;
  left: 32px;
  top: 77px;
  @include mq(desktop) {
    left: 62px;
    top: 144px;
  }
}

.hero__item {
  width: 36px;
  height: 36px;
  background: var(--white-bg);
  box-shadow: 0px 25px 25px rgba(53, 46, 237, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(desktop) {
    width: 67px;
    height: 67px;
  }
}

.hero__item:not(:last-child) {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.hero__icons {
  display: flex;
  position: absolute;
  top: 12px;
  left: 22px;
  @include mq(desktop) {
    top: 22px;
    left: 22px;
  }
}

.hero__svg {
  width: 19px;
  height: 24px;
  @include mq(desktop) {
    width: 50px;
    height: 50px;
  }
}

.hero__card {
  display: flex;
  &:not(:last-child) {
    margin-right: 8px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}

.hero__svg-btn {
  width: 6px;
  height: 6px;
  @include mq(desktop) {
    width: 12px;
    height: 12px;
  }
}
