.modal-projects {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--animation-speed) var(--transition-timing-function);
  max-height: 98%;
  width: 90%;
  background-color: #fff;
  padding: 24px 16px 24px;
  overflow: auto;

  @include mq(tablet) {
    width: 680px;
    padding: 40px 0px 109px;
  }

  @include mq(desktop) {
    width: 1280px;
    max-height: 98%;
    overflow: hidden;
    padding: 60px 80px 60px;
  }

  &.open-modal {
    transform: translate(-50%, -50%) scale(1);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: var(--primary-bg);
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary-bg);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: var(--gray-txt-cl);
  }
}

.modal-projects__wrapper {
  display: none;

  &.open-modal {
    display: block;
  }
}

.modal-projects__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  margin-bottom: 16px;

  @include mq(tablet) {
    font-weight: 300;
    font-size: 40px;
    line-height: 0.8;

    margin-bottom: 24px;
  }

  @include mq(tablet-only) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.sliderModal {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    position: relative;
  }
}

.sliderModal__img {
  display: flex;
  justify-content: center;

  width: 680px;
  max-height: 53vh;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include mq(desktop) {
    width: 1120px;
    max-height: 60vh;
  }
}

.sliderModal__img img {
  object-fit: cover;
}

.sliderModal__text {
  width: 600px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-black-txt-cl);

  margin-left: auto;
  margin-right: auto;

  @include mq(desktop) {
    width: 1120px;
  }
}

.modal-projects__list {
  display: none;

  @include mq(mobile-only) {
    display: block;
  }
}

.modal-projects__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-black-txt-cl);

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
