.modal-projects {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: transform var(--animation-speed) var(--transition-timing-function),
    opacity var(--animation-speed) var(--transition-timing-function);
  max-height: 98%;
  width: 90%;
  background-color: #fff;
  padding: 24px 16px 24px;
  overflow: auto;

  @include mq(tablet) {
    width: 680px;
    padding: 40px 0px 109px;
  }

  @include mq(desktop) {
    width: 1280px;
    max-height: 98%;
    overflow: hidden;
    padding: 60px 80px 60px;
  }

  &.open-modal {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modal-projects__wrapper {
  display: none;

  &.open-modal {
    display: block;
  }
}

.modal-projects__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  margin-bottom: 16px;

  @include mq(tablet) {
    font-weight: 300;
    font-size: 40px;
    line-height: 0.8;

    margin-bottom: 24px;
  }

  @include mq(tablet-only) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.sliderModal {
  @include mq(mobile-only) {
    display: none;
  }

  @include mq(tablet-only) {
    position: relative;
  }
}

.sliderModal__img {
  display: flex;
  justify-content: center;

  width: 680px;
  max-height: 53vh;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include mq(desktop) {
    width: 1120px;
    max-height: 60vh;
  }
}

.sliderModal__img img {
  object-fit: cover;
}

.sliderModal__text {
  width: 600px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-black-txt-cl);

  margin-left: auto;
  margin-right: auto;

  @include mq(desktop) {
    width: 1120px;
  }
}

.slick-arrow {
  position: absolute;
  width: 46px;
  height: 46px;
  font-size: 0;
  border-radius: 50%;
  border: 1px solid var(--black-txt-cl);
  z-index: 400;
  transition: transform var(--animation-speed) var(--transition-timing-function);

  @include mq(tablet-only) {
    bottom: -25px;
    transform: translateY(100%);
  }

  @include mq(desktop) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    @include mq(tablet) {
      transform: translateY(100%) scale(1.1);
    }
    @include mq(desktop) {
      transform: translateY(-50%) scale(1.1);
    }
  }

  &.slick-next {
    right: 40px;

    @include mq(desktop) {
      right: 80px;
    }
  }

  &.slick-prev {
    left: 40px;

    @include mq(desktop) {
      left: 80px;
    }
  }

  &::after {
    display: block;
    width: 46px;
    height: 15px;
    content: '';
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    background-repeat: no-repeat;
    background-position: center;
  }

  &.slick-next::after {
    left: 0;
    background-image: url('../images/slider-next.svg');
  }

  &.slick-prev::after {
    left: 100%;
    background-image: url('../images/slider-prev.svg');
  }
}

@keyframes animationModalLeft {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  25% {
    opacity: 1;
    transform: translate(0, -50%);
  }
  26% {
    opacity: 0;
    transform: translate(-100%, -50%);
  }
  55% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.slick-next:hover::after {
  animation-name: animationModalLeft;
  animation-duration: var(--animation-speed-slow);
  animation-iteration-count: 1;
  animation-timing-function: var(--transition-timing-function);
}

@keyframes animationModalRight {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  25% {
    opacity: 1;
    transform: translate(-100%, -50%);
  }
  26% {
    opacity: 0;
    transform: translate(0, -50%);
  }
  55% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.slick-prev:hover::after {
  animation-name: animationModalRight;
  animation-duration: var(--animation-speed-slow);
  animation-iteration-count: 1;
  animation-timing-function: var(--transition-timing-function);
}

.modal-projects__list {
  display: none;

  @include mq(mobile-only) {
    display: block;
  }
}

.modal-projects__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-black-txt-cl);

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
