.backdrop {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(65, 65, 65, 0.6);
  z-index: 900;
  overflow: auto;
  transition: opacity var(--slow);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
