.nav {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid rgba(65, 65, 65, 0.15);
}

.header {
  backdrop-filter: blur(6px);
  position: fixed;
  width: 100%;
  background-color: rgba(254, 254, 254, 1);
  z-index: 200;
  transition: background-color var(--animation-speed) var(--transition-timing-function);

  @include mq(tablet) {
    
    background: rgba(254, 254, 254, 0.25);
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 102;
  }
}

.add-background-desk {
  background: rgba(254, 254, 254, 0.25);
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.add-background-mob {
  background: rgba(254, 254, 254, 1);
}

.header__logo-link {
  letter-spacing: 0.14em;
  color: var(--black-txt-cl);
  font-size: 18px;

  @include mq(desktop) {
    font-size: 24px;
  }
}

.header__phone {
  @include mq(tablet) {
    display: none;
  }

  @include mq(desktop) {
    display: block;
    color: var(--black-txt-cl);
    line-height: calc(24 / 14);
    font-size: 16px;
  }
}

.header__logo_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__link-link {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--black-txt-cl);
  line-height: calc(24 / 14);
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--black-txt-cl);
    transform-origin: bottom left;
    transition: all var(--transition-timing-function) var(--animation-speed);

    transform: scaleX(0);
  }
  &:hover::after {
    transform: scaleX(1);
  }                                     

  @include mq(desktop) {
    font-size: 16px;
  }
}



.header__link-list {
  display: flex;
}

.header__link-item:not(:last-child) {
  margin-right: 28px;
}

.header__menu--right {
  display: none;

  @include mq(tablet) {
    display: flex;
    align-items: center;
  }

  @include mq(desktop) {
    margin-left: 226px;
    width: 100%;
    justify-content: space-between;
  }
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  transition: all 0.3s;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid var(--black-txt-cl);

    border-radius: 50%;
    transform: translate(-6px, -5px);
    opacity: 0;
    transition: opacity var(--animation-speed) var(--transition-timing-function);
  }

  .bar:not(:last-child) {
    display: inline-block;
    margin-bottom: 6px;
  }

  &--opened {
    &:after {
      opacity: 1;
    }

    .bar:first-child {
      transform: rotate(45deg);
      transition-delay: 0.3s;
      height: 1px;
      align-self: center;
      margin-bottom: 0px;
      //width: 100%;
    }

    .bar:nth-of-type(2) {
      display: none;
      opacity: 0;
      height: 0;
      margin: -3px;
    }

    .bar:last-child {
      position: relative;
      bottom: 1px;
      transform: rotate(-45deg);
      transition-delay: 0s;
      height: 1px;
      align-self: center;
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.bar {
  background-color: black;
  height: 1px;
  max-width: 21px;
  transition: width var(--animation-speed) var(--transition-timing-function);

  &:first-child {
    width: 100%;
  }

  &:nth-child(2) {
    width: 50%;
  }

  &:last-child {
    width: 30%;
  }
}

.header__mobile-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__mobile-item:not(:last-child) {
  margin-bottom: 14px;
}

.header__mobile-item {
  border-bottom: 1px solid rgba(65, 65, 65, 0.5);
  padding: 4px 0;
}

.header__mobile-link {
  color: var(--secondary-black-txt-cl);
  font-size: 18px;
  line-height: calc(28 / 18);
  text-transform: uppercase;
}

.header__mobile {
  width: 100%;
  height: 100vh;
  position: fixed;
  padding-top: 52px;
  left: 0;
  background-color: var(--white-txt-cl);
  transform: translateX(100%);
  transition: transform 250ms var(--transition-timing-function);
}

.header__menu-show {
  transform: translateX(0);
}
