.footer {
  border-top: 1px solid rgba(65, 65, 65, 0.8);
  padding-top: 24px;
  padding-bottom: 100px;

  @include mq(tablet) {
    padding-top: 45px;
    padding-bottom: 80px;
  }
}

.footer-box {
  @include mq(tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  color: var(--black-txt-cl);
  letter-spacing: 0.14em;
  @include mq(mobile-only) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 44px;
  }
  @include mq(tablet) {
    display: inline-block;
    font-size: 24px;
    line-height: 1.35;
  }
  @include mq(desktop) {
    font-size: 28px;
    line-height: 1.07;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(tablet) {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    min-width: 500px;
  }

  @include mq(desktop) {
    min-width: 900px;
  }
}

.footer-content__part {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.footer__title {
  color: var(--black-txt-cl);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  margin-bottom: 16px;

  @include mq(mobile-only) {
    text-align: center;
  }

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.footer-content__list {
  display: flex;
  flex-direction: column;

  @include mq(mobile-only) {
    align-items: center;
  }
}

.footer-nav__item,
.footer-contact__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.footer-nav__link,
.address__link {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-black-txt-cl);

  transition-property: color;
  &:hover {
    color: var(--black-txt-cl);
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--black-txt-cl);
    transform-origin: bottom center;
    transition: transform 0.25s ease-in;
    transform: scaleX(0);
  }
  &:hover::after {
    transform: scaleX(1);
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.62;
  }
}

.socnav__list {
  flex-direction: row;
}

.footer-socnav__item {
  &:not(:last-child) {
    margin-right: 12px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.fcontacts-socnav__icon {
  fill: var(--secondary-black-txt-cl);
  width: 24px;
  height: 24px;

  transition-property: transform, fill;
  transition-duration: 500ms;
  &:hover {
    fill: var(--black-txt-cl);
    transform: scale(1.2);
  }

  @include mq(desktop) {
    width: 32px;
    height: 32px;
  }
}
