.projects__list {
  @include mq(desktop) {
    display: grid;
    grid-template-columns: repeat(2, 505px);
    justify-content: center;
    row-gap: 60px;
    column-gap: 128px;
  }
}

.projects__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(mobile) {
    width: 335px;
  }

  @include mq(tablet) {
    width: 505px;
  }

  &:nth-child(2) {
    @include mq(desktop) {
      order: 1;
    }
  }

  &:nth-child(3) {
    @include mq(desktop) {
      order: 2;
    }
  }

  &:nth-child(4) {
    @include mq(desktop) {
      order: 3;
    }
  }

  &:not(:last-child) {
    margin-bottom: 32px;

    @include mq(tablet-only) {
      margin-bottom: 48px;
    }
  }
}

.projects__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;

  @include mq(tablet) {
    padding-top: 16px;
  }
}

.projects__name {
  font-size: 18px;
  line-height: 1.56;

  margin-bottom: 4px;

  @include mq(tablet) {
    font-size: 20px;
    line-height: 1.4;
  }

  @include mq(desktop) {
    font-size: 24px;
    line-height: 1.33;
  }
}

.projects__date {
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-black-txt-cl);

  @include mq(tablet) {
    font-size: 18px;
    line-height: 1.44;
  }

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.projects__button {
  display: inline-flex;
  align-items: center;
  gap: 20px;

  padding-left: 11px;
  border: 1px solid transparent;
  border-radius: 100px;

  transition: border var(--slow);

  @include mq(tablet) {
    gap: 12px;
  }

  &:hover {
    border: 1px solid var(--secondary-black-txt-cl);

    .projects__buttonIcon {
      border: 1px solid transparent;
    }
  }
}

.projects__buttonText {
  font-size: 16px;
  line-height: 1.62;

  @include mq(tablet) {
    font-size: 18px;
    line-height: 1.44;
  }

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.projects__buttonIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--black-txt-cl);

  transition: border var(--slow);

  @include mq(tablet) {
    width: 55px;
    height: 55px;
  }
}

.slider {
  position: relative;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  z-index: 100;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 18px;

  @include mq(tablet) {
    bottom: 32px;
  }
}

.slick-dots li {
  list-style: none;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.slick-dots button {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  border-radius: 50%;
  border: none;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    content: '';
    width: 4px;
    height: 4px;
    text-indent: -999em;
    border-radius: 50%;
    background-color: var(--white-txt-cl);
  }
}

.slick-dots li.slick-active button {
  border: 1px solid var(--white-txt-cl);
}
