.feedback {
  @include mq(tablet) {
    text-align: center;
  }

  &__container {
    @include mq(desktop) {
      padding-left: 205px;
      padding-right: 205px;
    }
  }

  &__title {
    margin-bottom: 40px;
    @include mq(tablet) {
      margin-bottom: 60px;
    }
    @include mq(desktop) {
      margin-bottom: 80px;
    }
  }
}
