.footer {
  padding-top: 22px;
  padding-bottom: 17px;

  font-size: 14px;
  line-height: 1.5;
  color: var(--gray-txt-cl);
  background-color: var(--white-bg);

  p:not(:last-child) {
    margin-bottom: 7px;
  }

  &-wrapper {
    color: var(--gray-txt-cl);
    @include mq(tablet) {
      display: flex;
      justify-content: space-between;
      color: var(--secondary-txt-cl);
    }
  }
  &-link {
    display: block;

    @include mq(mobile-only) {
      margin-bottom: 22px;
    }
  }
  &-logo {
    @include mq(mobile-only) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .address,
  .copyright {
    @include mq(mobile-only) {
      display: none;
    }
  }
  .address {
  }
  .copyright {
  }
}
.footer-nav-list {
  @include mq(mobile-only) {
    display: flex;
    justify-content: space-around;
  }
  @include mq(desktop) {
    display: flex;
  }

  & > .item {
    @include mq(tablet) {
      font-size: 16px;
    }
    @include mq(desktop) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}
