.team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @include mq(tablet) {
    display: none;
  }

  .team__list-item {
    width: 240px;

    transition: opacity var(--slow) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team__text-wrapper {
    margin-top: 8px;
  }

  .team__text {
    font-size: 14px;
    color: var(--secondary-black-txt-cl);
    line-height: calc(24 / 14);
  }
  .team__text-title {
    line-height: calc(26 / 16);
  }
}

.team__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 32px;
}

.team__icon-wrapper {
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--black-txt-cl);
}

.team__icon {
  width: 34px;
  height: 4px;
}

.team__is-hidden {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
