.swiper {
  height: 306px;
  width: 508px;
  margin: 0 auto;
  display: none;

  @include mq(tablet) {
    display: block;
  }
  @include mq(desktop) {
    display: block;
    width: 1030px;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
  }

  .swiper-slide {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(desktop) {
      width: 320px;
    }
  }

  /* .swiper-slide > picture {
        display: block;
        object-fit: cover;
        width: 240px;
        height: 240px;
    } */

  .swiper__text-wrapper {
    width: 240px;
    margin-top: 12px;

    @include mq(desktop) {
      width: 320px;
    }
  }

  .swiper__text {
    font-size: 16px;
    color: var(--secondary-black-txt-cl);
    line-height: calc(26 / 16);
  }

  .swiper__text-title {
    font-size: 20px;
    color: var(--secondary-black-txt-cl);
    line-height: calc(26 / 16);
  }

  .swiper__list-img {
    object-fit: cover;
    width: 240px;
    height: 240px;

    @include mq(desktop) {
      width: 320px;
      height: 320px;
    }
  }

  .swiper-button-prev {
    position: relative;
    width: 44px;
    height: 44px;
    bottom: 170px;
    right: 80px;

    @include mq(desktop) {
      bottom: 240px;
      right: 100px;
    }
  }

  .swiper-button-next {
    position: relative;
    width: 44px;
    height: 44px;
    bottom: 215px;
    left: 540px;

    @include mq(desktop) {
      bottom: 285px;
      left: 1080px;
    }
  }

  .swiper__btn {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .swiper__icon-prev {
    width: 45px;
    height: 12px;
    position: relative;
    left: 20px;
  }

  .swiper__icon-next {
    width: 45px;
    height: 12px;
    position: relative;
    right: 20px;
  }
}
