<section>
  <div class="headline">
    <div class="number">1</div>
    <h3 class="subtitle">About us</h3>
  </div>
  <div class="container">
    <div class="text-container">
      <h2 class="about__title">WE BELIEVE IN QUALITY</h2>
      <p class="about__text">
        Interio design studio has been on the market for over 5 years and it is a dynamic and
        committed group of architects and interior designers who love design and creative process.
        Our experience and constant research of trends allows us to meet expectations within the
        budget and translate a bold idea into non-standard design solutions. To get a truly
        functional and unsurpassed design of an office, apartment, restaurant, shopping and
        entertainment complex or a hotel, the right decision would be to contact the design studio
        Interio for help!
      </p>
    </div>

    <ul class="about__list list">
      <li class="about-list__item">
        <p class="about-list__amount">10K+</p>
        <p class="about-list__name">Unit ready</p>
      </li>
      <li class="about-list__item">
        <p class="about-list__amount">20K+</p>
        <p class="about-list__name">Clients</p>
      </li>
      <li class="about-list__item">
        <p class="about-list__amount">40K+</p>
        <p class="about-list__name">Projects</p>
      </li>
      <li class="about-list__item">
        <p class="about-list__amount">8K+</p>
        <p class="about-list__name">Feedbacks</p>
      </li>
    </ul>
  </div>
</section>
