<section class="section features" id="features">
  <div class="container">
    <ul class="features list">
      <li class="features-item js_appearance_features">
        <div class="icon-box">
          <svg class="features-icon">
            <use href="./assets/images/features/sprite.svg#icon-money"></use>
          </svg>
        </div>
        <div class="text-box">
          <h3 class="features-subtitle">Lorem ipsum dolor sit.</h3>
          <p class="features-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, maiores. Quae maxime
            sequi omnis libero.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
