<section class="section hero">
  <div class="hero__img">
    <img
      srcset="
        ./assets/images/home/hero-mob.jpg    1x,
        ./assets/images/home/hero-mob@x2.jpg 2x
      "
      src="./assets/images/home/hero-mob@x2.jpg"
      alt="room"
      width="270"
      loading="lazy"
    />
  </div>
  <div class="container hero__container">
    <div class="hero__info">
      <div class="hero__info-container">
        <h1 class="hero__headline">GET A DESIGN OF YOUR DREAM</h1>
        <div class="hero__text-container">
          <p class="hero__text">
            Our studio guarantee quality implementation of the modern concepts at your home
          </p>
          <a href="" class="hero__button">
            <svg class="" width="40px" height="5px">
              <use href="./assets/images/sprite.svg#arrow-big"></use>
            </svg>
          </a>
        </div>
      </div>
      <a href="" class="hero__button-tablet">
        <svg class="hero__arrow-big">
          <use href="./assets/images/sprite.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="hero__tablet-desctop-img">
    <img
      srcset="
        ./assets/images/home/hero-tab.jpg    1x,
        ./assets/images/home/hero-tab@x2.jpg 2x
      "
      src="./assets/images/home/hero-tab@x2.jpg"
      alt="room"
      loading="lazy"
    />
  </div>
</section>
