<section class="section hero">
  <div class="hero__img">
    <picture class="slider__item">
      <source
        srcset="./assets/images/home/hero-mob.webp 1x, ./assets/images/home/hero-mob@x2.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/images/home/hero-mob.jpg 1x, ./assets/images/home/hero-mob@x2.jpg 2x"
        type="image/jpeg"
      />
      <img src="./assets/images/home/hero-mob@x2.jpg" alt="room" loading="lazy" />
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__info">
      <div class="hero__info-container">
        <h1 class="hero__headline">GET A DESIGN OF YOUR DREAM</h1>
        <div class="hero__text-container">
          <p class="hero__text">
            Our studio guarantee quality implementation of the modern concepts at your home
          </p>
          <a href="#feedback" class="hero__button">
            <svg class="hero__arrow-big" width="40px" height="5px" aria-label="feedback-icon">
              <use href="./assets/images/sprite.svg#arrow-big"></use>
            </svg>
          </a>
        </div>
      </div>
      <a href="#feedback" class="hero__button-tablet">
        <svg class="hero__arrow-big" aria-label="feedback-icon">
          <use href="./assets/images/sprite.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="hero__tablet-desctop-img">
    <picture class="slider__item">
      <source
        srcset="./assets/images/home/hero-tab.webp 1x, ./assets/images/home/hero-tab@x2.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./assets/images/home/hero-tab.jpg 1x, ./assets/images/home/hero-tab@x2.jpg 2x"
        type="image/jpeg"
      />
      <img src="./assets/images/home/hero-tab@x2.jpg" alt="room" loading="lazy" />
    </picture>
  </div>
</section>
