<section class="section projects">
  <div class="container">
    <div class="headline">
      <div class="number">3</div>
      <h3 class="subtitle">Our projects</h3>
    </div>
    <ul class="projects__list list">
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__slide slider__slide--active" data-number="1">
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.webp    1x,
                ../../../assets/images/projects/1taurus-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.jpg    1x,
                ../../../assets/images/projects/1taurus-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.webp    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.jpg    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img src="../../../assets/images/projects/1taurus-tab-desk.jpg" alt="Bedroom design" />
          </picture>
          <picture class="slider__slide" data-number="2">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="3">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="4">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="5">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <div class="slider__navigation"></div>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">TAURUS</p>
            <p class="projects__date">2022</p>
          </div>
          <a href="#" class="link">
            <p class="link__text">Learn more</p>
            <svg width="34" height="4" class="link__icon">
              <use href="../../../assets/images/sprite.svg#arrow-small"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__slide slider__slide--active" data-number="1">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="2">
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.webp    1x,
                ../../../assets/images/projects/1taurus-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.jpg    1x,
                ../../../assets/images/projects/1taurus-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.webp    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.jpg    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img src="../../../assets/images/projects/1taurus-tab-desk.jpg" alt="Bedroom design" />
          </picture>
          <picture class="slider__slide" data-number="3">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="4">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="5">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <div class="slider__navigation"></div>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">BRISTOL</p>
            <p class="projects__date">2022</p>
          </div>
          <a href="#" class="link">
            <p class="link__text">Learn more</p>
            <svg width="34" height="4" class="link__icon">
              <use href="../../../assets/images/sprite.svg#arrow-small"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__slide slider__slide--active" data-number="1">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="2">
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.webp    1x,
                ../../../assets/images/projects/1taurus-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.jpg    1x,
                ../../../assets/images/projects/1taurus-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.webp    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.jpg    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img src="../../../assets/images/projects/1taurus-tab-desk.jpg" alt="Bedroom design" />
          </picture>
          <picture class="slider__slide" data-number="3">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="4">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="5">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <div class="slider__navigation"></div>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">PRESTIGE HALL</p>
            <p class="projects__date">2022</p>
          </div>
          <a href="#" class="link">
            <p class="link__text">Learn more</p>
            <svg width="34" height="4" class="link__icon">
              <use href="../../../assets/images/sprite.svg#arrow-small"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__slide slider__slide--active" data-number="1">
            <source
              srcset="
                ../../../assets/images/projects/4tetris-mob.webp    1x,
                ../../../assets/images/projects/4tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/4tetris-mob.jpg    1x,
                ../../../assets/images/projects/4tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/4tetris-tab-desk.webp    1x,
                ../../../assets/images/projects/4tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/4tetris-tab-desk.jpg    1x,
                ../../../assets/images/projects/4tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/4tetris-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="2">
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.webp    1x,
                ../../../assets/images/projects/1taurus-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-mob.jpg    1x,
                ../../../assets/images/projects/1taurus-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.webp    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/1taurus-tab-desk.jpg    1x,
                ../../../assets/images/projects/1taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img src="../../../assets/images/projects/1taurus-tab-desk.jpg" alt="Bedroom design" />
          </picture>
          <picture class="slider__slide" data-number="3">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="4">
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.webp    1x,
                ../../../assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-mob.jpg    1x,
                ../../../assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.webp    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/2bristol-tab-desk.jpg    1x,
                ../../../assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <picture class="slider__slide" data-number="5">
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.webp    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-mob.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 768px)"
              type="image/png"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../../../assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ../../../assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />
            <img
              src="../../../assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
            />
          </picture>
          <div class="slider__navigation"></div>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">TETRIS</p>
            <p class="projects__date">2022</p>
          </div>
          <a href="#" class="link">
            <p class="link__text">Learn more</p>
            <svg width="34" height="4" class="link__icon">
              <use href="../../../assets/images/sprite.svg#arrow-small"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
