<section id="portfolio" class="section projects">
  <div class="headline">
    <div class="number">3</div>
    <h3 class="subtitle">Our projects</h3>
  </div>
  <div class="container">
    <ul class="projects__list">
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/1taurus-mob.webp    1x,
                ./assets/images/projects/1taurus-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1taurus-mob.jpg    1x,
                ./assets/images/projects/1taurus-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/1taurus-tab-desk.webp    1x,
                ./assets/images/projects/1taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1taurus-tab-desk.jpg    1x,
                ./assets/images/projects/1taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/1taurus-tab-desk.jpg"
              alt="Bedroom design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/2taurus-mob.webp    1x,
                ./assets/images/projects/2taurus-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2taurus-mob.jpg    1x,
                ./assets/images/projects/2taurus-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/2taurus-tab-desk.webp    1x,
                ./assets/images/projects/2taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2taurus-tab-desk.jpg    1x,
                ./assets/images/projects/2taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/2taurus-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/3taurus-mob.webp    1x,
                ./assets/images/projects/3taurus-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3taurus-mob.jpg    1x,
                ./assets/images/projects/3taurus-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/3taurus-tab-desk.webp    1x,
                ./assets/images/projects/3taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3taurus-tab-desk.jpg    1x,
                ./assets/images/projects/3taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/3taurus-tab-desk.jpg"
              alt="Living roon design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/4taurus-mob.webp    1x,
                ./assets/images/projects/4taurus-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4taurus-mob.jpg    1x,
                ./assets/images/projects/4taurus-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/4taurus-tab-desk.webp    1x,
                ./assets/images/projects/4taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4taurus-tab-desk.jpg    1x,
                ./assets/images/projects/4taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/4taurus-tab-desk.jpg"
              alt="Kitchen design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/5taurus-mob.webp    1x,
                ./assets/images/projects/5taurus-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5taurus-mob.jpg    1x,
                ./assets/images/projects/5taurus-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/5taurus-tab-desk.webp    1x,
                ./assets/images/projects/5taurus-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5taurus-tab-desk.jpg    1x,
                ./assets/images/projects/5taurus-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/5taurus-tab-desk.jpg"
              alt="Bedroom design"
              loading="lazy"
              width="505"
            />
          </picture>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">TAURUS</p>
            <p class="projects__date">2022</p>
          </div>
          <button type="button" class="projects__button" data-number="1">
            <span class="projects__buttonText">Learn more</span>
            <span class="projects__buttonIcon">
              <svg width="32" height="10">
                <use href="./assets/images/sprite.svg#arrow-small"></use>
              </svg>
            </span>
          </button>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/2bristol-mob.webp    1x,
                ./assets/images/projects/2bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2bristol-mob.jpg    1x,
                ./assets/images/projects/2bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/2bristol-tab-desk.webp    1x,
                ./assets/images/projects/2bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2bristol-tab-desk.jpg    1x,
                ./assets/images/projects/2bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/2bristol-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/1bristol-mob.webp    1x,
                ./assets/images/projects/1bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1bristol-mob.jpg    1x,
                ./assets/images/projects/1bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/1bristol-tab-desk.webp    1x,
                ./assets/images/projects/1bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1bristol-tab-desk.jpg    1x,
                ./assets/images/projects/1bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/1bristol-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/3bristol-mob.webp    1x,
                ./assets/images/projects/3bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3bristol-mob.jpg    1x,
                ./assets/images/projects/3bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/3bristol-tab-desk.webp    1x,
                ./assets/images/projects/3bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3bristol-tab-desk.jpg    1x,
                ./assets/images/projects/3bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/3bristol-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/4bristol-mob.webp    1x,
                ./assets/images/projects/4bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4bristol-mob.jpg    1x,
                ./assets/images/projects/4bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/4bristol-tab-desk.webp    1x,
                ./assets/images/projects/4bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4bristol-tab-desk.jpg    1x,
                ./assets/images/projects/4bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/4bristol-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/5bristol-mob.webp    1x,
                ./assets/images/projects/5bristol-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5bristol-mob.jpg    1x,
                ./assets/images/projects/5bristol-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/5bristol-tab-desk.webp    1x,
                ./assets/images/projects/5bristol-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5bristol-tab-desk.jpg    1x,
                ./assets/images/projects/5bristol-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/5bristol-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">BRISTOL</p>
            <p class="projects__date">2022</p>
          </div>
          <button type="button" class="projects__button" data-number="2">
            <span class="projects__buttonText">Learn more</span>
            <span class="projects__buttonIcon">
              <svg width="32" height="10">
                <use href="./assets/images/sprite.svg#arrow-small"></use>
              </svg>
            </span>
          </button>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/3prestige-hall-mob.webp    1x,
                ./assets/images/projects/3prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3prestige-hall-mob.jpg    1x,
                ./assets/images/projects/3prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/3prestige-hall-tab-desk.webp    1x,
                ./assets/images/projects/3prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3prestige-hall-tab-desk.jpg    1x,
                ./assets/images/projects/3prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/3prestige-hall-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/2prestige-hall-mob.webp    1x,
                ./assets/images/projects/2prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2prestige-hall-mob.jpg    1x,
                ./assets/images/projects/2prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/2prestige-hall-tab-desk.webp    1x,
                ./assets/images/projects/2prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2prestige-hall-tab-desk.jpg    1x,
                ./assets/images/projects/2prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/2prestige-hall-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/1prestige-hall-mob.webp    1x,
                ./assets/images/projects/1prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1prestige-hall-mob.jpg    1x,
                ./assets/images/projects/1prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/1prestige-hall-tab-desk.webp    1x,
                ./assets/images/projects/1prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1prestige-hall-tab-desk.jpg    1x,
                ./assets/images/projects/1prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/1prestige-hall-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/4prestige-hall-mob.webp    1x,
                ./assets/images/projects/4prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4prestige-hall-mob.jpg    1x,
                ./assets/images/projects/4prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/4prestige-hall-tab-desk.webp    1x,
                ./assets/images/projects/4prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4prestige-hall-tab-desk.jpg    1x,
                ./assets/images/projects/4prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/4prestige-hall-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/5prestige-hall-mob.webp    1x,
                ./assets/images/projects/5prestige-hall-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5prestige-hall-mob.jpg    1x,
                ./assets/images/projects/5prestige-hall-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/5prestige-hall-tab-desk.webp    1x,
                ./assets/images/projects/5prestige-hall-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5prestige-hall-tab-desk.jpg    1x,
                ./assets/images/projects/5prestige-hall-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/5prestige-hall-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">PRESTIGE HALL</p>
            <p class="projects__date">2022</p>
          </div>
          <button type="button" class="projects__button" data-number="3">
            <span class="projects__buttonText">Learn more</span>
            <span class="projects__buttonIcon">
              <svg width="32" height="10">
                <use href="./assets/images/sprite.svg#arrow-small"></use>
              </svg>
            </span>
          </button>
        </div>
      </li>
      <li class="projects__item">
        <div class="slider">
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/4tetris-mob.webp    1x,
                ./assets/images/projects/4tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4tetris-mob.jpg    1x,
                ./assets/images/projects/4tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/4tetris-tab-desk.webp    1x,
                ./assets/images/projects/4tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/4tetris-tab-desk.jpg    1x,
                ./assets/images/projects/4tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/4tetris-tab-desk.jpg"
              alt="Living room design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/2tetris-mob.webp    1x,
                ./assets/images/projects/2tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2tetris-mob.jpg    1x,
                ./assets/images/projects/2tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/2tetris-tab-desk.webp    1x,
                ./assets/images/projects/2tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/2tetris-tab-desk.jpg    1x,
                ./assets/images/projects/2tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/2tetris-tab-desk.jpg"
              alt="Bedroom design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/3tetris-mob.webp    1x,
                ./assets/images/projects/3tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3tetris-mob.jpg    1x,
                ./assets/images/projects/3tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/3tetris-tab-desk.webp    1x,
                ./assets/images/projects/3tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/3tetris-tab-desk.jpg    1x,
                ./assets/images/projects/3tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/3tetris-tab-desk.jpg"
              alt="Kitchen design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/1tetris-mob.webp    1x,
                ./assets/images/projects/1tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1tetris-mob.jpg    1x,
                ./assets/images/projects/1tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/1tetris-tab-desk.webp    1x,
                ./assets/images/projects/1tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/1tetris-tab-desk.jpg    1x,
                ./assets/images/projects/1tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/1tetris-tab-desk.jpg"
              alt="Kitchen design"
              loading="lazy"
              width="505"
            />
          </picture>
          <picture class="slider__item">
            <source
              srcset="
                ./assets/images/projects/5tetris-mob.webp    1x,
                ./assets/images/projects/5tetris-mob@x2.webp 2x
              "
              media="(max-width: 767.98px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5tetris-mob.jpg    1x,
                ./assets/images/projects/5tetris-mob@x2.jpg 2x
              "
              media="(max-width: 767.98px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./assets/images/projects/5tetris-tab-desk.webp    1x,
                ./assets/images/projects/5tetris-tab-desk@x2.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./assets/images/projects/5tetris-tab-desk.jpg    1x,
                ./assets/images/projects/5tetris-tab-desk@x2.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <img
              src="./assets/images/projects/5tetris-tab-desk.jpg"
              alt="Bedroom design"
              loading="lazy"
              width="505"
            />
          </picture>
        </div>
        <div class="projects__wrapper">
          <div>
            <p class="projects__name">TETRIS</p>
            <p class="projects__date">2022</p>
          </div>
          <button type="button" class="projects__button" data-number="4">
            <span class="projects__buttonText">Learn more</span>
            <span class="projects__buttonIcon">
              <svg width="32" height="10">
                <use href="./assets/images/sprite.svg#arrow-small"></use>
              </svg>
            </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
