<section id="services" class="section services">
  <div class="headline">
    <div class="number">2</div>
    <p class="subtitle">Our services</p>
  </div>
  <div class="container">
    <ul class="services__list">
      <li class="services__item item">
        <p class="item__number">01</p>
        <h3 class="item__title">Consultation</h3>
        <p class="item__text">
          Help in choosing a style consistent with the interior, decorations, accessories, wall
          colors, help in planning the space and dividing it into coherent visual sections.
        </p>
      </li>
      <li class="services__item item">
        <p class="item__number">02</p>
        <h3 class="item__title">Complex project</h3>
        <p class="item__text">
          A holistic interior design project including detailed study of needs, expectations and
          preferences, inventory of the interior, inspiration boards, conceptual design, complete
          shopping list, 3D visualization.
        </p>
      </li>
      <li class="services__item item">
        <p class="item__number">03</p>
        <h3 class="item__title item__title--position">Complex project + author's supervision</h3>
        <p class="item__text">
          After creating a comprehensive interior design, we monitor and control the finishing works
          until they are fully completed. We verify compliance of the works, answer contractors'
          questions, solve all problems constantly.
        </p>
      </li>
      <li class="services__item item">
        <p class="item__number">04</p>
        <h3 class="item__title">Turnkey project</h3>
        <p class="item__text">
          We take over all work on the project from you, including the provision of a reliable
          finishing team and the coordination of all orders and deliveries of equipment elements
          from the beginning till you receive keys.
        </p>
      </li>
    </ul>
  </div>
</section>
