<section class="section program" id="program">
  <div class="container">
    <h2 class="section-title">Lorem ipsum dolor sit</h2>
    <p class="subtitle">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci provident
      recusandae deserunt? A!
    </p>
    <ul class="list program-list">
      <li class="item js_appearance_second">
        <div class="program-course">
          <p class="program-course-title">Lorem ipsum dolor sit</p>
          <p class="program-course-digit"></p>
        </div>
        <p class="program-course-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci
          provident recusandae deserunt? A!
        </p>
      </li>
      <li class="item js_appearance_second">
        <div class="program-course">
          <p class="program-course-title">Lorem ipsum dolor sit</p>
          <p class="program-course-digit"></p>
        </div>
        <p class="program-course-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci
          provident recusandae deserunt? A!.
        </p>
      </li>
      <li class="item js_appearance_second">
        <div class="program-course">
          <p class="program-course-title">Lorem ipsum dolor sit</p>
          <p class="program-course-digit"></p>
        </div>
        <p class="program-course-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci
          provident recusandae deserunt? A!
        </p>
      </li>
      <li class="item js_appearance_second">
        <div class="program-course">
          <p class="program-course-title">Lorem ipsum dolor sit</p>
          <p class="program-course-digit"></p>
        </div>
        <p class="program-course-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci
          provident recusandae deserunt? A!
        </p>
      </li>
      <li class="item js_appearance_second">
        <div class="program-course">
          <p class="program-course-title">Lorem ipsum dolor sit</p>
          <p class="program-course-digit"></p>
        </div>
        <p class="program-course-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum repudiandae adipisci
          provident recusandae deserunt? A!
        </p>
      </li>
    </ul>
  </div>
</section>
