<form action="#" class="form" id="form" name="form" enctype="multipart/form-data">
  <div class="form__menu">
    <div class="form__line">
      <input
        class="form__input"
        id="name"
        autocomplete="off"
        name="name"
        type="text"
        placeholder=" "
        data-reg="^[a-zA-Z][a-zA-Z-\s]{1,}$"
      />
      <label class="form__label form__label--name" for="name">Name*</label>
      <p class="form__error">Name is required</p>
    </div>
    <div class="form__line">
      <input
        class="form__input"
        id="phone"
        autocomplete="on"
        name="phone"
        type="tel"
        placeholder=" "
        data-reg="\+?\d{6}"
      />
      <label class="form__label form__label--phone" for="phone">Contact number*</label>
      <p class="form__error">Please enter your number in correct format +44 YYYY XXXXXX</p>
    </div>
    <div class="form__line">
      <input class="form__input" id="message" autocomplete="off" name="message" placeholder=" " />
      <label class="form__label form__label--message" for="message"
        >Several words about your project</label
      >
    </div>
  </div>
  <div class="form__box">
    <button type="submit" class="form__button">
      <span>Send a request</span>
      <svg class="form__icon">
        <use href="./assets/images/sprite.svg#arrow-big"></use>
      </svg>
    </button>
  </div>
</form>
