<div class="mobile-menu" data-menu>
  <img
    class="logo mobile-menu-logo"
    src="./assets/images/logo-dark.svg"
    alt="GoIT logo"
    width="67"
    height="20"
  />
  <button class="mobile-menu-close" type="button" aria-label="zamknij menu" data-menu-close-btn>
    <svg class="mobile-menu-close-svg" width="40" height="40">
      <use href="./assets/images/sprite.svg#icon-close-menu"></use>
    </svg>
  </button>
  <div class="container">{% include 'components/nav-menu.html' %}</div>
</div>
