<div class="modal-feedback">
  <div class="modal-feedback__wrapper">
    <button class="modal__close modal-feedback__close">
      <svg width="10" height="10" class="close__icon">
        <use href="./assets/images/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="modal-feedback__info">
      <div class="modal-feedback__heading">
        <h3 class="modal-feedback__title title">Speak soon!</h3>
        <p class="modal-feedback__text">
          We have received your request and will call you back within 1 hour.
        </p>
      </div>
      <div class="modal-feedback__box">
        <button type="submit" class="modal-feedback__button">
          <span>Got it</span>
          <svg class="modal-feedback__icon">
            <use href="./assets/images/sprite.svg#arrow-big"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
