<div class="modal-footer modal-window">
  <div class="modal-footer__wrapper">
    <button class="modal__close modal-footer__close" aria-label="close-modal">
      <svg width="10" height="10" class="close__icon">
        <use href="./assets/images/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="modal-footer__info">
      <div class="modal-footer__heading">
        <h3 class="modal-footer__title title">This page is under construction</h3>
        <p class="modal-footer__text">Sorry for the inconvenience! We'll be with you soon.</p>
      </div>
      <div class="modal-footer__box">
        <button type="button" class="modal-footer__button" aria-label="back-to-home-page">
          <span class="modal-footer__span">Back to Home Page</span>
          <svg class="modal-footer__icon">
            <use href="./assets/images/sprite.svg#arrow-big"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
