<nav class="nav">
  <div class="header__logo_menu">
    <div class="header__logo">
      <a href="#">Interio</a>
    </div>
    <div class="header__menu--right">
      <div class="header__menu">
        <a href="#">HOME PAGE</a>
        <a href="#">CONTACTS</a>
      </div>
      <a href="tel:+380505766767" class="header__phone">+38 050 576 67 67</a>
    </div>
    <button class="burger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  </div>
</nav>
