<div class="header__mobile">
  <div class="container">
    <nav class="header__mobile-menu">
      <ul class="header__mobile-list">
        <li class="header__mobile-item">
          <a href="#about" class="header__mobile-link">About us</a>
        </li>
        <li class="header__mobile-item">
          <a href="#services" class="header__mobile-link">Services</a>
        </li>
        <li class="header__mobile-item">
          <a href="#portfolio" class="header__mobile-link">Portfolio</a>
        </li>
        <li class="header__mobile-item">
          <a href="#team" class="header__mobile-link">Team</a>
        </li>
        <li class="header__mobile-item">
          <a href="#contacts" class="header__mobile-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
