<nav class="nav">
  <ul class="list nav-list">
    <li class="nav-item">
      <a class="link nav-link" href="#features" aria-label="lorem">lorem</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" href="#program" aria-label="lorem">lorem</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" href="#faq" aria-label="Program">lorem</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" href="#approaches" aria-label="Format">Format</a>
    </li>
    <li class="nav-item">
      <a class="link nav-link" href="#warranty" aria-label="Cena">Cena</a>
    </li>
  </ul>
</nav>
