<nav class="nav">
  <div class="header__logo_menu">
    <div class="header__logo">
      <a href="#" class="header__logo-link">Interio</a>
    </div>
    <div class="header__menu--right">
      <div class="header__menu">
        <ul class="header__link-list">
          <li class="header__link-item"><a href="#about" class="header__link-link">About us</a></li>
          <li class="header__link-item">
            <a href="#services" class="header__link-link">Services</a>
          </li>
          <li class="header__link-item">
            <a href="#portfolio" class="header__link-link">Portfolio</a>
          </li>
          <li class="header__link-item">
            <a href="#team" class="header__link-link">Team</a>
          </li>
          <li class="header__link-item">
            <a href="#contacts" class="header__link-link">Contacts</a>
          </li>
        </ul>
      </div>
      <a href="tel:+380505766767" class="header__phone">+38 050 576 67 67</a>
    </div>
    <button class="burger-menu" aria-label="show-menu" type="button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</nav>
