<div class="swiper">

  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/1julia-mob-tab.jpg,
              ../../../assets/images/team/1julia-mob-tab@x2.jpg
              "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/1julia-desk.jpg,
              ../../../assets/images/team/1julia-desk.jpg@x2.jpg
              "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/1julia-desk.jpg"
              alt="Julia Lebed"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Interior designer</p>
            <p class="swiper__text-title">Julia Lebed</h3>
        </div>
    </div>
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/2mark-mob-tab.jpg,
                ../../../assets/images/team/2mark-mob-tab@x2.jpg
                "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/2mark-desk.jpg,
                ../../../assets/images/team/2mark-desk@x2.jpg
                "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/2mark-desk.jpg"
              alt="Mark Jura"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Lead arhitect</p>
            <p class="swiper__text-title">Mark Jura</h3>
        </div>
    </div>
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/3anna-mob-tab.jpg,
                ../../../assets/images/team/3anna-mob-tab@x2.jpg
                "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/3anna-desk.jpg,
                ../../../assets/images/team/3anna-desk@x2.jpg
                "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/3anna-desk.jpg"
              alt="Anna Tuj"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Interior designer</p>
            <p class="swiper__text-title">Anna Tuj</h3>
        </div>
    </div>
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/1julia-mob-tab.jpg,
              ../../../assets/images/team/1julia-mob-tab@x2.jpg
              "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/1julia-desk.jpg,
              ../../../assets/images/team/1julia-desk.jpg@x2.jpg
              "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/1julia-desk.jpg"
              alt="Julia Lebed"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Interior designer</p>
            <p class="swiper__text-title">Julia Lebed</h3>
        </div>
    </div>
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/2mark-mob-tab.jpg,
                ../../../assets/images/team/2mark-mob-tab@x2.jpg
                "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/2mark-desk.jpg,
                ../../../assets/images/team/2mark-desk@x2.jpg
                "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/2mark-desk.jpg"
              alt="Mark Jura"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Interior designer</p>
            <p class="swiper__text-title">Julia Lebed</h3>
        </div>
    </div>
    <div class="swiper-slide">
        <picture>
            <source
              srcset="../../../assets/images/team/3anna-mob-tab.jpg,
                ../../../assets/images/team/3anna-mob-tab@x2.jpg
                "
              media="(min-width: 375px)"
              type="image/img"
            />
            <source
              srcset="../../../assets/images/team/3anna-desk.jpg,
                ../../../assets/images/team/3anna-desk@x2.jpg
                "
              media="(min-width: 1440px)"
              type="image/img"
            />
            <img
              class="swiper__list-img"
              src="../../../assets/images/team/3anna-desk.jpg"
              alt="Anna Tuj"
            />
          </picture>
          <div class="swiper__text-wrapper">
            <p class="swiper__text">Interior designer</p>
            <p class="swiper__text-title">Julia Lebed</h3>
        </div>
    </div>
  </div>

  <div class="swiper-button-prev">
    <button class="swiper__btn">
            <svg class="swiper__icon-prev">
                <use href="../../../assets/images/sprite.svg#slider-left"></use>
            </svg>
    </button>
  </div>
  <div class="swiper-button-next">
    <button class="swiper__btn">
            <svg class="swiper__icon-next">
                <use href="../../../assets/images/sprite.svg#slider-right"></use>
            </svg>
    </button>
  </div>
</div>
