<div class="team__list-wrapper">
  <ul class="team__list">
    <li class="team__list-item">
      <picture>
        <source
          srcset="./assets/images/team/1julia-mob-tab.webp 1x,
          ./assets/images/team/1julia-mob-tab@x2.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/1julia-mob-tab.jpg 1x,
          ./assets/images/team/1julia-mob-tab@x2.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/1julia-mob-tab.jpg"
          alt="Julia Lebed"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Interior designer</p>
          <p class="team__text-title">Julia Lebed</h3>
      </div>
    </li>
    <li class="team__list-item">
      <picture>
        <source
          srcset="./assets/images/team/2mark-mob-tab.webp 1x,
            ./assets/images/team/2mark-mob-tab@x2.webp 2x
            "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/2mark-mob-tab.jpg 1x,
            ./assets/images/team/2mark-mob-tab@x2.jpg 2x
            "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/2mark-mob-tab.jpg"
          alt="Mark Jura"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Lead arhitect</p>
          <p class="team__text-title">Mark Jura</h3>
      </div>
    </li>
    <li class="team__list-item">
      <picture>
        <source
          srcset="./assets/images/team/3anna-mob-tab.webp 1x,
            ./assets/images/team/3anna-mob-tab@x2.webp 2x
            "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/3anna-mob-tab.jpg 1x,
            ./assets/images/team/3anna-mob-tab@x2.jpg 2x
            "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/3anna-mob-tab.jpg"
          alt="Anna Tuj"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Interior designer</p>
          <p class="team__text-title">Anna Tuj</h3>
      </div>
    </li>
    <li class="team__list-item team__is-hidden">
      <picture>
        <source
          srcset="./assets/images/team/4muazzez-mob-tab.webp 1x,
          ./assets/images/team/4muazzez-mob-tab@x2.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/4muazzez-mob-tab.jpg 1x,
          ./assets/images/team/4muazzez-mob-tab@x2.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/4muazzez-mob-tab.jpg"
          alt="Muazzez Yasar"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Interior designer</p>
          <p class="team__text-title">Muazzez Yasar</h3>
      </div>
    </li>
    <li class="team__list-item team__is-hidden">
      <picture>
        <source
          srcset="./assets/images/team/5melek-mob-tab.webp 1x,
            ./assets/images/team/5melek-mob-tab@x2.webp 2x
            "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/5melek-mob-tab.jpg 1x,
            ./assets/images/team/5melek-mob-tab@x2.jpg 2x
            "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/5melek-mob-tab.jpg"
          alt="Melek Arican"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Lead arhitect</p>
          <p class="team__text-title">Melek Arican</h3>
      </div>
    </li>
    <li class="team__list-item team__is-hidden">
      <picture>
        <source
          srcset="./assets/images/team/6emi-mob-tab.webp 1x,
            ./assets/images/team/6emi-mob-tab@x2.webp 2x
            "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="./assets/images/team/6emi-mob-tab.jpg 1x,
            ./assets/images/team/6emi-mob-tab@x2.jpg 2x
            "
          media="(min-width: 375px)"
          type="image/jpeg"
        />
        <img
          class="team__list-img"
          src="./assets/images/team/6emi-mob-tab.jpg"
          alt="Emi Kiyg"
          loading="lazy"
          width="240px"
        />
      </picture>
      <div class="team__text-wrapper">
          <p class="team__text">Interior designer</p>
          <p class="team__text-title">Emi Kiyg</h3>
      </div>
    </li>
  </ul>
  <button class="team__btn" type="button" aria-label="button-show-more">
      Learn more
      <span class="team__icon-wrapper">
          <svg class="team__icon">
              <use href="./assets/images/sprite.svg#arrow-small"></use>
          </svg>
      </span>
  </button>
</div>